$important: red;

div {
    .post {
        background-color: blue;
        padding: 1vw;
        padding-top: 0.5vw;
        padding-bottom: 0.3vw;
        border: 2px solid black;
    }
    .flash-message {
        color: $important;
    }
}

p {
    .post-footer {
        font-size: 13px;
    }
    .login-display {
        color: $important;
    }
}

nav {
    .nav {
        list-style-type: none;
    }
}
