<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css')}}">
    <script type="text/javascript" src="{{ url_for('static', filename='submit.js')}}" defer></script>
    <script type="text/javascript" src="{{ url_for('static', filename='nav.js')}}" defer></script>

    <title>Register</title>
</head>
<body>
    <div id="nav-bar"></div>
    <div id="register-form">
        <label for="username"> Username: </label>
        <input type="text" for="uname" id="uname"> <br/>
        <label for="password"> Password: </label>    
        <input type="password" for="pword" id="pword">
        <button id="submitBtn" type="button" onclick="submit('/register')">Submit</button>
    </div>
</body>
</html>
