div.post {
    margin: 1px;
    padding-left: 1vw;
    padding-right: 29vw;
    padding-top: 0.5vw;
    padding-bottom: 0.8vw;
    border: 1px solid black;
    border-radius: 15px;
}

div.cont {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

div.flash-message {
    color: red;
}

p.post-footer {
    font-size: 13px;
}

p.login-display {
    color: red;
}

div.reply-body {
    margin-bottom: 5px;
}

nav.nav-bar {
    background-color: red;
    border: 1px solid black;
    border-radius: 50px;
    padding: 15px;
}

ul.nav {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li.nav-item {
    background-color: lightpink;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

a {
    color: black;
    text-decoration: none;
}

a.button {
    background-color: lightblue;
    border: 1px solid black;
    border-radius: 10px;
    font-size: small;
    padding: 1vh;
    padding-top: 0.3vh;
    padding-bottom: 0.3vh;
}

a.reply-button {
    background-color: lightgreen;
    border: 0px;
    font-size: x-small;
    padding: 3px;
    border-radius: 0;
}

h1.header {
    display: flex;
    justify-content: center;
    align-items: center;
}
